header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    height: 340px;
}

img {
    border-radius: 50%;
    max-width: 15%;
    grid-row: 1;
    grid-column: 1;
    display: block;
    margin: 20px 0 0 0;
}

h1 {
    font-family: 'Lobster', cursive;
    font-size: 50px;
    grid-row: 1;
    grid-column: 1;
    display: block;
    align-self: end;
    margin: 0 0 20px 0;
}

hr {
    max-width: 75%;
}

main {
    display: flex;
    justify-content: space-around;
}

 h2 {
     font-size: 30px;
     margin: 15px 0 3px 0;
     padding: 0;
 }

 a {
     color: black;
     text-decoration: none;
 }

 ul {
     list-style-type: none;
     margin: 0;
     padding: 0;
     line-height: 23px;
 }

footer {
    width: 520px;
    position: fixed;
    left: 50%;
    margin-left: -260px;
    margin-top: 50px;
}

.homepage-categories {
    font-family: 'Oswald', sans-serif;
}

.circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
}

#red2 {
    background: rgba(241,50,56,.5);
    left: 10px;
}

#red1 {
    background: rgba(205,51,92,.5);
    left: 90px;
}

#purple2 {
    background: rgba(169,52,129,.5);
    left: 170px;
}

#purple1 {
    background: rgba(134,54,165,.5);
    left: 250px;
}


#blue2 {
    background: rgba(98,55,202,.5);
    left: 330px
}

#blue1 {
    background: rgba(63,57,239,.5);
    left: 410px;
}

